.characterList{
  width: 60%;
  display: flex;
  margin: 50px auto;
  flex-flow: row wrap;
  justify-content: space-between;
}
.characterWrapper{
  width: 30%;
  background: #e6eaff;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
  img{
    width: 80%;
    margin-bottom: 5px;
  }
}

.characterWrapper:hover{
  border:2px solid dodgerblue;
}

.additionalInfoWrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: start;
  top: 0;
  left: 0;
}
.additionalInfo{
  position: absolute;
  display: flex;
  width: 30%;
  height: 400px;
  top:50% ;
  left: 50% ;
  transform: translate(-50%, -50%);
  flex-flow: column;
  align-items: center;
  border: 2px solid green;
  border-radius: 20px;
  background: #e6eaff;
  padding: 1%;
  img{
    max-width: 300px;
    width: 50%;
  }
  div{
    margin-bottom: 5px;
  }
}
.pagination{
  width: 80%;
  margin: 30px auto;

  display: flex;
  justify-content: center;
  border:none;

}
table, td{
  border-collapse: collapse;
}
